<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignalR Sample Site</title>
</head>
<!-- INSTRUCTIONS
npm install http-server -g
http-server -a localhost -p 3000
-->
<body>

    <div id="app">
        <form v-on:submit.prevent="addMessage">
            <input type="text" v-model="newMessage" />
            <input type="submit" value="Send" />
        </form>

        <ul>
            <li v-for="message in messages">
                {{ message }}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.0-rc1-update1/dist/browser/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        (async function () {
            const connection = new signalR
                .HubConnectionBuilder()
                .withUrl("https://localhost:44324//Hubs/Messages")
                .build();
            const app = new Vue({
                el: "#app",
                data: {
                    messages: [],
                    newMessage: null
                },
                methods: {
                    async addMessage() {
                        await connection.invoke("Send", this.newMessage);
                        this.newMessage = null;
                    }
                }
            });

            connection.on("Send", message => {
                app.messages.push(message);
            });

            await connection.start();

        })();
    </script>

</body>
</html>
